In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
population_df = pd.read_csv('Datasets/country_population_filtered.csv', sep=',')

In [3]:
len(population_df)

217

In [4]:
population_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,107906,108727,108735,108908,109203,108587,107700,107310,107359,107624
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,33831764,34700612,35688935,36743039,37856121,39068979,40000412,40578842,41454761,42647492
2,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,28157798,29183070,30234839,31297155,32375632,33451132,34532429,35635029,36749906,37885849
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689,2745972,2714617
4,Andorra,AND,"Population, total",SP.POP.TOTL,9510.0,10283.0,11086.0,11915.0,12764.0,13634.0,...,72174,72181,73763,75162,76474,77380,78364,79705,80856,81938

In [5]:
population_df.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              1
                 ..
2020              0
2021              0
2022              0
2023              0
2024              0
Length: 69, dtype: int64

In [6]:
# Create list of years to keep
years_to_keep = [str(y) for y in range(1980, 2025)]

# Keep only identifier columns + 1980–2022
pop_1980 = population_df[["Country Name", "Country Code", "Indicator Name", "Indicator Code"] + years_to_keep]

In [7]:
pop_1980 = pop_1980.dropna(subset=years_to_keep, how="all")

In [8]:
pop_1980.to_csv("cleaned_population_1980_2024.csv", index=False)

In [9]:
removed_countries = [
    "Aruba",
    "Afghanistan",
    "Armenia",
    "American Samoa",
    "Azerbaijan",
    "Bosnia and Herzegovina",
    "Belarus",
    "Channel Islands",
    "Cuba",
    "Curacao",
    "Cayman Islands",
    "Czechia",
    "Djibouti",
    "Eritrea",
    "Estonia",
    "Georgia",
    "Gibraltar",
    "Guam",
    "Croatia",
    "Isle of Man",
    "Kazakhstan",
    "Kyrgyz Republic",
    "Lao PDR",
    "Lebanon",
    "Lithuania",
    "Latvia",
    "Macao SAR, China",
    "St. Martin (French part)",
    "Moldova",
    "North Macedonia",
    "Montenegro",
    "Northern Mariana Islands",
    "Mozambique",
    "Poland",
    "Korea, Dem. People's Rep.",
    "West Bank and Gaza",
    "Romania",
    "San Marino",
    "Serbia",
    "South Sudan",
    "Slovak Republic",
    "Slovenia",
    "Sint Maarten (Dutch part)",
    "Turks and Caicos Islands",
    "Tajikistan",
    "Turkmenistan",
    "Timor-Leste",
    "Ukraine",
    "Uzbekistan",
    "Venezuela, RB",
    "British Virgin Islands",
    "Virgin Islands (U.S.)",
    "Viet Nam",
    "Kosovo",
    "Yemen, Rep."
]

In [10]:
# Remove countries
pop_cleaned = pop_1980[~pop_1980["Country Name"].isin(removed_countries)]

# Optional: check remaining countries
print("Remaining countries:", pop_cleaned["Country Name"].nunique())

Remaining countries: 162

In [11]:
# Get remaining countries
remaining_countries = pop_cleaned["Country Name"].tolist()

print("Remaining countries:", len(remaining_countries))
for country in remaining_countries:
    print(" +", country)

Remaining countries: 162
 + Angola
 + Albania
 + Andorra
 + United Arab Emirates
 + Argentina
 + Antigua and Barbuda
 + Australia
 + Austria
 + Burundi
 + Belgium
 + Benin
 + Burkina Faso
 + Bangladesh
 + Bulgaria
 + Bahrain
 + Bahamas, The
 + Belize
 + Bermuda
 + Bolivia
 + Brazil
 + Barbados
 + Brunei Darussalam
 + Bhutan
 + Botswana
 + Central African Republic
 + Canada
 + Switzerland
 + Chile
 + China
 + Cote d'Ivoire
 + Cameroon
 + Congo, Dem. Rep.
 + Congo, Rep.
 + Colombia
 + Comoros
 + Cabo Verde
 + Costa Rica
 + Cyprus
 + Germany
 + Dominica
 + Denmark
 + Dominican Republic
 + Algeria
 + Ecuador
 + Egypt, Arab Rep.
 + Spain
 + Ethiopia
 + Finland
 + Fiji
 + France
 + Faroe Islands
 + Micronesia, Fed. Sts.
 + Gabon
 + United Kingdom
 + Ghana
 + Guinea
 + Gambia, The
 + Guinea-Bissau
 + Equatorial Guinea
 + Greece
 + Grenada
 + Greenland
 + Guatemala
 + Guyana
 + Hong Kong SAR, China
 + Honduras
 + Haiti
 + Hungary
 + Indonesia
 + India
 + Ireland
 + Iran, Islamic Rep.
 + Iraq
 + Iceland
 + Israel
 + Italy
 + Jamaica
 + Jordan
 + Japan
 + Kenya
 + Cambodia
 + Kiribati
 + St. Kitts and Nevis
 + Korea, Rep.
 + Kuwait
 + Liberia
 + Libya
 + St. Lucia
 + Liechtenstein
 + Sri Lanka
 + Lesotho
 + Luxembourg
 + Morocco
 + Monaco
 + Madagascar
 + Maldives
 + Mexico
 + Marshall Islands
 + Mali
 + Malta
 + Myanmar
 + Mongolia
 + Mauritania
 + Mauritius
 + Malawi
 + Malaysia
 + Namibia
 + New Caledonia
 + Niger
 + Nigeria
 + Nicaragua
 + Netherlands
 + Norway
 + Nepal
 + Nauru
 + New Zealand
 + Oman
 + Pakistan
 + Panama
 + Peru
 + Philippines
 + Palau
 + Papua New Guinea
 + Puerto Rico (US)
 + Portugal
 + Paraguay
 + French Polynesia
 + Qatar
 + Russian Federation
 + Rwanda
 + Saudi Arabia
 + Sudan
 + Senegal
 + Singapore
 + Solomon Islands
 + Sierra Leone
 + El Salvador
 + Somalia
 + Sao Tome and Principe
 + Suriname
 + Sweden
 + Eswatini
 + Seychelles
 + Syrian Arab Republic
 + Chad
 + Togo
 + Thailand
 + Tonga
 + Trinidad and Tobago
 + Tunisia
 + Turkiye
 + Tuvalu
 + Tanzania
 + Uganda
 + Uruguay
 + United States
 + St. Vincent and the Grenadines
 + Vanuatu
 + Samoa
 + South Africa
 + Zambia
 + Zimbabwe

In [12]:
# Select only year columns (1980–2022)
year_cols = [str(y) for y in range(1980, 2025)]

# Melt to long format
pop_long = pop_cleaned.melt(
    id_vars=["Country Name", "Country Code"],
    value_vars=year_cols,
    var_name="Year",
    value_name="Population"
)

# Convert Year to integer
pop_long["Year"] = pop_long["Year"].astype(int)

pop_long.head()

           Country Name Country Code  Year  Population
0                Angola          AGO  1980   8133872.0
1               Albania          ALB  1980   2671997.0
2               Andorra          AND  1980     35782.0
3  United Arab Emirates          ARE  1980   1015700.0
4             Argentina          ARG  1980  28011596.0

In [13]:
pop_long = pop_long.sort_values(["Country Name", "Year"])
pop_long.head()

    Country Name Country Code  Year  Population
1        Albania          ALB  1980   2671997.0
163      Albania          ALB  1981   2726056.0
325      Albania          ALB  1982   2784278.0
487      Albania          ALB  1983   2843960.0
649      Albania          ALB  1984   2904429.0

In [14]:
pop_long.head()

    Country Name Country Code  Year  Population
1        Albania          ALB  1980   2671997.0
163      Albania          ALB  1981   2726056.0
325      Albania          ALB  1982   2784278.0
487      Albania          ALB  1983   2843960.0
649      Albania          ALB  1984   2904429.0

In [15]:
pop_long.to_csv("population_long_1980_2024.csv", index=False)